.App {
  width: 100%;
  min-height: 100vh;
}

section {
  padding: 80px 0;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  section {
    padding: 60px 20px;
  }
}

